<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/static/assets/css/shared/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="http://i.gtimg.cn/qzone/biz/gdt/lib/jquery/jquery-2.1.4.js?max_age=31536000"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="/static/assets/vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" href="/static/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->

    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/assets/css/demo_1/style.css">
    <!-- End Layout styles -->
    <title>Title</title>
</head>
<body>
{% if request.session.is_login %}
<form class="needs-validation" enctype="multipart/form-data" method="POST" id="resform">
    {% csrf_token %}
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper">
            <!-- 左侧导航栏 -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="text-wrapper">
                                <p class="profile-name" style="color:white;font-size: 20px">{{ request.session.username }}</p>
                                <p class="designation">欢迎你</p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item nav-category">Main Menu</li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:uploadCad' %}">
                            <i class="menu-icon typcn typcn-document-text"></i>
                            <span class="menu-title">开始部署</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:myDeployment' %}">
                            <i class="menu-icon typcn typcn-shopping-bag"></i>
                            <span class="menu-title">我的部署</span>
                        </a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:logout' %}">
                                <i class="menu-icon typcn typcn-shopping-bag"></i>
                                <span class="menu-title">退出登录</span>
                            </a>
                        </li>
                </ul>
            </nav>
            <!-- 部署结果展示 -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-lg-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="p-4 pr-5 border-bottom bg-light d-flex justify-content-between">
                                    <h4 class="card-title mb-0"><b>部署结果</b></h4>
                                    <div class="d-flex align-items-center pb-2">
                                        <div class="dot-indicator bg-danger mr-2"></div>
                                        <p class="mb-0">部署点</p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <img class="mt-4" style="height:300px"
                                         src={{ dc.resimgpath }} }}>
                                    <div class="d-flex pt-3 border-top">
                                        <p class="mb-0 font-weight-semibold"><span
                                                class="dot-indicator bg-success"></span> 覆盖率</p>
                                        <p class="mb-0 ml-auto text-primary">100%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="p-4 pr-5 border-bottom bg-light d-flex justify-content-between">
                                    <h4 class="card-title mb-0"><b>部署信息</b></h4>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <td> 文件说明 </td>
                                            <td> {{ dc.filename }} </td>
                                        </tr>
                                        <tr>
                                            <td> 信号覆盖次数 </td>
                                            <td>{{ dc.cover_num }}次</td>
                                        </tr>
                                        <tr>
                                            <td> 设备最低间隔 </td>
                                            <td> {{ dc.dist_thre }}m </td>
                                        </tr>
                                        <tr>
                                            <td> 信号传播距离 </td>
                                            <td> {{ dc.spread_dist }}m </td>
                                        </tr>
                                        <tr>
                                            <td> 算法运行时间 </td>
                                            <td> {{ dc.time_limit }}s </td>
                                        </tr>
                                        <tr>
                                            <td><b> 部署结果 </b></td>
                                            <td><b style="color:red;font-size:28px;">{{ dc.ap_num }}</b></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="row pt-5">
                                        <div class="col-lg-6 pl-5">
                                            <button type="button" class="btn btn-danger btn-rounded btn-fw" data-toggle="modal"
                                                            data-target="#checkSaveModal">保存结果</button>
                                        </div>
                                        <div class="col-lg-6 pr-5">
                                            <a href="{% url 'users:uploadCad' %}">
                                                <button type="button" class="btn btn-info btn-rounded btn-fw">重新部署</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
</p>
</form>
{% else %}
    <li><a href="{% url 'users:login' %}">还没登录，前去登录</a></li>
{% endif %}
<!-- 部署信息查看模态 -->
<div class="modal fade" id="checkSaveModal" tabindex="-1" role="dialog" aria-labelledby="checkSaveModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paramsModalLabel">部署参数信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                确定要保存吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal" onclick="save_result({{ dc }})">是</button>
                <button type="button" class="btn btn-secondary btn-success" data-dismiss="modal">否</button>
            </div>
        </div>
    </div>
</div>

<script>
        function save_result (dc){
            var csrfToken = $("[name='csrfmiddlewaretoken']").val();
            $.ajax({
                type: "POST",//预期服务器返回的数据类型
                dataType:"json",
                url: "/users/saveResult/" ,//url
                data:{"dc":dc,'csrfmiddlewaretoken':csrfToken},
                success: function (arg) {
                    console.log(arg);//打印服务端返回的数据(调试用)
                    if(arg.status == "success"){
                        console.log("is suc");
                        {# 判断确实正确入库之后提示#}
                        toastr.success("保存成功，可前往我的部署页面查看");
                     }
                 }
            })
        }
    </script>

<!-- container-scroller -->
<!-- plugins:js -->
<script src="/static/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="/static/assets/vendors/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/static/assets/js/shared/off-canvas.js"></script>
<script src="/static/assets/js/shared/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/static/assets/js/shared/chart.js"></script>
<!-- End custom js for this page-->

</body>

</html>