<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

<script src="http://i.gtimg.cn/qzone/biz/gdt/lib/jquery/jquery-2.1.4.js?max_age=31536000"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <title>登录</title>
</head>
<body>
    <h1>用户登录</h1>
    <form id="f1" action="/users/login" method="POST">
        {% csrf_token %}
        <div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>
        <p>
            <input type="text" name="username" value="小李"/>{{ username }}
        </p>
        <p>
            <input type="password" name="pwd" />{{ password }}
        </p>
        <a onclick="testajax();">提交</a>

    </form>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
        {#提交数据函数#}
        function save_result() {
            $.ajax({
            //几个参数需要注意一下
                cache:false,
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/users/saveResult/" ,//url
                data: $('#mydep-form').serialize(), //将模态框的form表单数据序列化，以便提交到后台
                async:false,  //必须要为false,必须必须

                success: function (data) {
                    console.log(data);//打印服务端返回的数据(调试用)
                    if(data.status == "success"){
                        {# 判断确实正确入库之后提示#}
                        toastr.success('提交数据成功');
                     }
                 },
                error : function() {
                    toastr.warning("失败");
                 }
            })
        }

        function testajax (){
            $.ajax({
                type: "POST",//预期服务器返回的数据类型
                dataType: "json",
                url: "/users/login_ajax/" ,//url
                data: $('#f1').serialize(),
                success: function (arg) {
                    console.log(arg);//打印服务端返回的数据(调试用)
                    toastr.success("成功");
                 }
            })
        }
    </script>
</body>
</html>