<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/modal.css">
    <link rel="stylesheet" href="/static/assets/css/shared/style.css">
    <link href="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.min.css" rel="stylesheet">
    <!-- js -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.min.js"></script>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="/static/assets/vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" href="/static/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="/static/assets/vendors/icheck/skins/all.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->

    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/assets/css/demo_1/style.css">
    <link rel="stylesheet" href="/static/css/uploadCad.css">
    <!-- End Layout styles -->
    <title>MyDeployment</title>
</head>
<body>
{% if request.session.is_login %}
<form id="mydep-form" class="needs-validation" method="POST" enctype="multipart/form-data"
      action="{% url 'users:myDeployment' %}">
    {% csrf_token %}
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper">
            <!-- 左侧导航栏 -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="text-wrapper">
                                <p class="profile-name" style="color:white;font-size: 20px">{{ request.session.username }}</p>
                                <p class="designation">欢迎你</p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item nav-category">Main Menu</li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:uploadCad' %}">
                            <i class="menu-icon typcn typcn-document-text"></i>
                            <span class="menu-title">开始部署</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:myDeployment' %}">
                            <i class="menu-icon typcn typcn-shopping-bag"></i>
                            <span class="menu-title">我的部署</span>
                        </a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:logout' %}">
                                <i class="menu-icon typcn typcn-shopping-bag"></i>
                                <span class="menu-title">退出登录</span>
                            </a>
                        </li>
                </ul>s
            </nav>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="p-4 pr-5 border-bottom bg-light d-flex justify-content-between">
                                    <h4 class="card-title mb-0"><b>我的部署</b></h4>
                                </div>
                                <div class="card-body">
                                    <table class="table table-hover table-responsive">
                                        <thead>
                                        <tr>
                                            <td><b>cad文件说明</b></td>
                                            <td><b>cad文件</b></td>
                                            <td><b>部署图</b></td>
                                            <td><b>部署位置文件</b></td>
                                            <td><b>参数表</b></td>
                                        </tr>
                                        </thead>
                                        <tbody style="display: block; overflow-y: auto; height: 400px;-webkit-overflow-scrolling: touch;">
                                        {% for row in res %}
                                            <tr>
                                                <td> {{ row.cad.cad_description }}</td>
                                                <td>
                                                    <button type="button" class="btn" data-toggle="modal"
                                                            data-target="#downloadModal" onclick="downloadFile('{{ row.cad.cad_path }}',1)">
                                                        {{ row.cad.cad_path }}
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn" data-toggle="modal"
                                                            data-target="#downloadModal" onclick="downloadFile('{{ row.res.res_path }}',0)">
                                                        {{ row.res.res_path }}
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn" data-toggle="modal"
                                                            data-target="#paramsModal"
                                                            onclick="showParams({{ row.dep_param.cover_num }},{{ row.dep_param.dist_thre }},{{ row.dep_param.spread_dist }},
                                                                    {{ row.dep_param.wall_reduce_dist }},{{ row.dep_param.glass_reduce_dist }},{{ row.dep_param.wood_reduce_dist }},
                                                                    {{ row.dep_param.other_reduce_dist }},{{ row.dep_param.time_limit }},'{{ row.res.res_path }}')">
                                                        点击查看部署信息
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn" data-toggle="modal"
                                                            data-target="#downloadModal" onclick="downloadFile('{{ row.res.pos_path }}',0)">
                                                        {{ row.res.pos_path }}
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn" data-toggle="modal"
                                                            data-target="#deleteModal" onclick="set_delete_record_id({{ row.id }})">
                                                        删除
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <!--<div class="row pt-5">
                                        <div class="col-lg-6 pl-5">
                                            <button type="button" class="btn btn-danger btn-rounded btn-fw">保存结果
                                            </button>
                                        </div>
                                        <div class="col-lg-6 pr-5">
                                            <a href="{% url 'users:uploadCad' %}">
                                                <button type="button" class="btn btn-info btn-rounded btn-fw">重新部署
                                                </button>
                                            </a>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="content-wrapper">
                    <thead>
                        <tr>
                            <th> username</th>
                            <th>pwd</th>
                        </tr>
                    </thead>
                    {% for row in res %}
                    <tbody>
                        <tr>
                            <th> {{ row.username }}</th>
                            <th> {{ row.password }}</th>
                        </tr>
                    </tbody>
                    {% endfor %}
                <input type="button" value="提交" onclick="showModal();">
                </div>-->
            </div>
        </div>
    </div>
</form>
{% else %}
    <li><a href="{% url 'users:login' %}">还没登录，前去登录</a></li>
{% endif %}

<!-- 部署信息查看模态 -->
<div class="modal fade" id="paramsModal" tabindex="-1" role="dialog" aria-labelledby="paramsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paramsModalLabel">部署参数信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="text-align: center;">
                    <img id="res_img" style="width: 70%;height: 70%;margin:0 auto;"/>
                </div>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>信号覆盖次数</td>
                        <td><input type="text" id="cover_num" style="border: 0;" disabled></td>
                    </tr>
                    <tr>
                        <td>设备最低间隔</td>
                        <td><input type="text" id="dist_thre" style="border: 0;" disabled></td>
                    </tr>
                    <tr>
                        <td>信号传播距离</td>
                        <td><input type="text" id="spread_dist" style="border: 0;width: 50px" disabled></td>
                    </tr>
                    <tr>
                        <td>信号遇墙衰减</td>
                        <td><input type="text" id="wall_reduce_dist" style="border: 0;width: 50px" disabled></td>
                    </tr>
                    <tr>
                        <td>信号遇玻璃衰减</td>
                        <td><input type="text" id="glass_reduce_dist" style="border: 0;width: 50px" disabled></td>
                    </tr>
                    <tr>
                        <td>信号遇木材衰减</td>
                        <td><input type="text" id="wood_reduce_dist" style="border: 0;width: 50px" disabled></td>
                    </tr>
                    <tr>
                        <td>信号遇其他衰减</td>
                        <td><input type="text" id="other_reduce_dist" style="border: 0;width: 50px" disabled></td>
                    </tr>
                    <tr>
                        <td>算法运行时间</td>
                        <td><input type="text" id="time_limit" style="border: 0;width: 50px" disabled></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- 文件下载模态 -->
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paramsModalLabel">文件下载</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                要下载文件吗？
            </div>
            <div class="modal-footer">
                <button id="yes-button" type="button" class="btn btn-secondary btn-danger">
                    <a id="download_file" onclick="hideModal()" style="color: white">
                        是
                    </a>
                </button>
                <button type="button" class="btn btn-secondary btn-success" data-dismiss="modal">否</button>
            </div>
        </div>
    </div>
</div>
<!-- 删除部署任务模态 -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">删除部署任务</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                确定删除该部署任务吗？
            </div>
            <div class="modal-footer">
                <button id='delete-yes-btn' type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">是</button>
                <button type="button" class="btn btn-secondary btn-success" data-dismiss="modal">否</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function showParams(cover_num, dist_thre, spread_dist, wall_reduce_dist, glass_reduce_dist,
                        wood_recude_dist, other_reduce_dist, time_limit, res_path) {
        $("#cover_num").val(cover_num + "次");
        $("#dist_thre").val(dist_thre + "m");
        $("#spread_dist").val(spread_dist + "m");
        $("#wall_reduce_dist").val(wall_reduce_dist + "m");
        $("#glass_reduce_dist").val(glass_reduce_dist + "m");
        $("#wood_reduce_dist").val(wood_recude_dist + "m");
        $("#other_reduce_dist").val(other_reduce_dist + "m");
        $("#time_limit").val(time_limit + "s");
        {#$("#res_img").attr('src',"/media/img/5m_0m_cover2_red127.png")#}
        $("#res_img").attr('src', res_path)
    }

    function downloadFile(filepath,type){
        var new_filepath = filepath;
        if(type == 1){
            var new_filepath = "/media/"+filepath;
        }
        $("#download_file").attr('href',new_filepath);
        $("#download_file").attr('download','download-file');
    }

    function hideModal(){
        $("#downloadModal").modal("hide");
    }
</script>
<script>
    {#提交数据函数#}
    // function save_result() {
    //     $.ajax({
    //         //几个参数需要注意一下
    //         cache: false,
    //         type: "POST",//方法类型
    //         dataType: "json",//预期服务器返回的数据类型
    //         url: "/users/saveResult/",//url
    //         data: $('#mydep-form').serialize(), //将模态框的form表单数据序列化，以便提交到后台
    //         async: false,  //必须要为false,必须必须
    //
    //         success: function (data) {
    //             console.log(data);//打印服务端返回的数据(调试用)
    //             if (data.status == "success") {
    //                 {# 判断确实正确入库之后提示#}
    //                 toastr.success('提交数据成功');
    //             }
    //         },
    //         error: function () {
    //             toastr.warning("失败");
    //         }
    //     })
    // }
    function set_delete_record_id(recordid){
        command_str = "delete_record("+recordid+")";
        $("#delete-yes-btn").attr('onclick', command_str)
    }
    function delete_record (dc){
            var csrfToken = $("[name='csrfmiddlewaretoken']").val();
            $.ajax({
                type: "POST",//预期服务器返回的数据类型
                dataType:"json",
                url: "/users/deleteRecord/" ,//url
                data:{"dc":dc,'csrfmiddlewaretoken':csrfToken},
                success: function (arg) {
                    console.log(arg);//打印服务端返回的数据(调试用)
                    if(arg.status == "success"){
                        console.log("is suc");
                        {# 判断确实正确入库之后提示#}
                        toastr.success("删除成功");
                        setTimeout(function(){window.location.reload();},2000);
                     }
                 }
            })
        }

    function testajax() {
        $.ajax({
            type: "POST",//预期服务器返回的数据类型
            dataType: "json",
            url: "/users/saveResult/",//url
            data: $('#mydep-form').serialize(),
            success: function (arg) {
                console.log(arg);//打印服务端返回的数据(调试用)
                toastr.success("成功")
            }
        })
    }
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->

<!-- 模态 -->
<!--
<div class="shadow" id="shadow">
    <div class="check_modal" id="modal">
        <p>覆盖次数：<input id="cover_num" type="text" name="uname"></p>
        <p>设备间隔：<input id="dist_thre" type="text" name="upwd"></p>
    </div>
</div>
<script>
    function showModal(){
        document.getElementById("shadow").classList.remove("hide")
        document.getElementById("modal").classList.remove("hide")
    }
</script>-->


<!-- container-scroller -->
<!-- plugins:js -->

<script src="/static/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="/static/assets/vendors/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->

<script src="/static/assets/js/shared/off-canvas.js"></script>
<script src="/static/assets/js/shared/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
</body>
</html>