<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/uploadCad.css">
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="/static/assets/vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" href="/static/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="/static/assets/vendors/icheck/skins/all.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/assets/css/demo_1/style.css">
    <!-- End Layout styles -->
    <title>UploadCAD</title>
</head>
<body>
{% if request.session.is_login %}
    <form class="needs-validation" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper">
                <!-- 左侧导航栏 -->
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item nav-profile">
                            <a class="nav-link">
                                <div class="text-wrapper">
                                    <p class="profile-name" style="color:white;font-size: 20px">{{ request.session.username }}</p>
                                    <p class="designation">欢迎你</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item nav-category">Main Menu</li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:uploadCad' %}">
                                <i class="menu-icon typcn typcn-document-text"></i>
                                <span class="menu-title">开始部署</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:myDeployment' %}">
                                <i class="menu-icon typcn typcn-shopping-bag"></i>
                                <span class="menu-title">我的部署</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:logout' %}">
                                <i class="menu-icon typcn typcn-shopping-bag"></i>
                                <span class="menu-title">退出登录</span>
                            </a>
                        </li>


                    </ul>
                </nav>
                <!-- 参数表 -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-12 grid-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title" style="font-size: 20px"><b>开始我的部署</b></h2><br>
                                        <form class="form-sample">
                                            <ul class="list-ticked">
                                                <li class="badge badge-info" style="font-size:14px;"> 文件上传&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                            </ul>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">dxf文件</label>
                                                            <div class="col-sm-6">
                                                                {{ af.headimg }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">文件说明</label>
                                                            <div class="col-sm-9">
                                                                {{ af.filename }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>
                                            <ul class="list-ticked">
                                                <li class="badge badge-info" style="font-size:14px;"> 部署约束&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                            </ul>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">覆盖次数</label>
                                                            <div class="col-sm-9">
                                                                {{ af.cover_num }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">设备间隔</label>
                                                            <div class="col-sm-9">
                                                                {{ af.dist_thre }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>
                                            <ul class="list-ticked">
                                                <li class="badge badge-info" style="font-size:14px;"> 信号约束&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                            </ul>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="form-group row">
                                                            <label class="col-sm-4 col-form-label">信号传播距离（米）</label>
                                                            <div class="col-sm-8">
                                                                {{ af.propagation_distance }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group row">
                                                            <label class="col-sm-10 col-form-label"> 遇障碍物衰减（米） </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">墙</label>
                                                            <div class="col-sm-6">
                                                                {{ af.wall_reduction_distance }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group row">
                                                            <label class="col-sm-5 col-form-label">玻璃</label>
                                                            <div class="col-sm-6">
                                                                {{ af.glass_reduction_distance }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group row">
                                                            <label class="col-sm-5 col-form-label">木材</label>
                                                            <div class="col-sm-6">
                                                                {{ af.wood_reduction_distance }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group row">
                                                            <label class="col-sm-5 col-form-label">其他</label>
                                                            <div class="col-sm-6">
                                                                {{ af.other_reduction_distance }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>
                                            <ul class="list-ticked">
                                                <li class="badge badge-info" style="font-size:14px;"> 算法约束&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                            </ul>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">运行时间（秒）</label>
                                                            <div class="col-sm-3">
                                                                {{ af.time_limit }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>
                                            <button type="submit" class="btn btn-inverse-info btn-block">开始部署
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% else %}
    <li><a href="{% url 'users:login' %}">还没登录，前去登录</a></li>
{% endif %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="/static/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="/static/assets/vendors/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/static/assets/js/shared/off-canvas.js"></script>
<script src="/static/assets/js/shared/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
</body>
</html>